.navbar{
    width: 100%;
    height: 110px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    /* margin-left: 2px; */
    font-weight:bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: green;
    padding-top: 10px;
    padding-bottom: 10px;
}